## Quantitative analysis using pynance and TaLib

#### Load yfinance dataset

In [2]:
import sys, os
import pandas as pd
# Add the 'scripts' directory to the Python path
sys.path.append(os.path.abspath(os.path.join('..', 'scripts')))

from data_processing import load_data
# Step 1: Unzip the file
zip_file_path = '../Data'  # Replace with your .zip file path
extracted_folder_path = zip_file_path+'/yfinance_data'  # Replace with your desired extract path

# extract multiple datasets  and concatenate in one dataset for analysis
filenames = ['AAPL_historical_data.csv',
             'AMZN_historical_data.csv',
             'GOOG_historical_data.csv',
             'META_historical_data.csv',
             'MSFT_historical_data.csv',
             'NVDA_historical_data.csv',
             'TSLA_historical_data.csv']
# Initialize an empty list to hold individual DataFrames
dataframes = []
# Loop through the filenames, load and process each, then append to the list
for filename in filenames:
    # Load the CSV file
    data = load_data(zip_file_path+'/yfinance_data.zip', 
                     'yfinance_data/'+filename)
    
    dataframes.append(data)  # Append the processed DataFrame to the list

                 
# Merge all DataFrames into one
merged_data = pd.concat(dataframes)

# Display the merged data
merged_data.head()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.0,0.0
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.0,0.0
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.0,0.0
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.0,0.0
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.0,0.0

In [3]:
merged_data.shape

(45428, 8)